%% -*- mode: erlang -*-

{require_otp_vsn, "18|19|20"}.

{erl_opts, [debug_info]}.
{yrl_opts, [{includefile, "include/erlydtl_preparser.hrl"}]}.

%% test config

{eunit_opts,
 [%% This turns off the default output, MUST HAVE
  no_tty,
  %% Uses the progress formatter with ANSI-colored output
  {report, {eunit_progress, [colored
                             %% uncomment to get a list of slowest running tests
                             %%, profile
                            ]}}
 ]}.

{pre_hooks,
 [{eunit,
   "erlc -I include/erlydtl_preparser.hrl -o test"
   " test/erlydtl_extension_testparser.yrl"}
 ]}.

%%% Deps

{deps,
 [
   {eunit_formatters, ".*", {git, "git://github.com/seancribbs/eunit_formatters", "35e3e6ab2db48af776a1a21bba6f1461c97caacb"}},
   {slex, ".*", {git, "git://github.com/erlydtl/slex.git", {tag, "0.2.1"}}}
 ]}.
